<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="appName">demo-logger</Property>
        <Property name="logPath">var/log/</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- normal pattern -->
             <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{36} [%t] [event: vishal]: %msg%n"/>
            <!-- normal pattern -->
<!--            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>-->
        </Console>
        <RollingFile
                name="rollingFile"
                fileName="${logPath}/${appName}/${appName}.log"
                filePattern="${logPath}/${appName}/${appName}-%i.log"
                ignoreExceptions="false">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>